
*
{
    top:0;
    margin:0;
}
body
{
    background: url("images/background.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


/*En tête */
header
{
    top:0;
    width:100%;
    height:10%;
    display:flex;
    flex-direction: center;
    justify-content: space-between;
    background-color:#F8B229;
    border-bottom: thin solid black;


}

header input
{
    width:50%;
    height:5em;
}
header button
{
    margin-left:-15%;
    width:20%;
}
/*Menu*/
menu
{
    display:flex;
    width:97%;
    height:3em;
    background-image:url("images/snow.jpg");
    justify-content: center;
}

menu button
{
    width:18%;
    height:100%;

}
menu button:nth-child(1)
{
margin-left:-4em;
}
/* Principal */

main
{
    width:80%;
    height:50em;
    margin: auto;
    margin-top:5em;
    background-color:#146B3A;
    border: 4mm ridge #F8B229;
    opacity:0.9;


}

#articles
{
    background-color:#146B3A;
    height:100%;
    text-align:center;
}





/*Pied de la page */
footer
{
    position:fixed;
    top:90%;
    left:95%;
    /*Cercle : */
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #00C12B;
}

footer i
{
    margin-top:0.5em;
    margin-left:0.4em;
    color:white;
    
}

@media (max-width:718px)
{
    footer
    {
        position:fixed;
        top:90%;
        left:85%;
        

    }




}
